* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    background-color: #DC0A2D;
    font-family     : 'Lato', sans-serif;
}

.page {
    display         : flex;
    flex-direction  : column;
    flex-wrap       : wrap;
    width           : 85%;
    margin          : auto;
    background-color: #DFDFDF;
    box-shadow      : 0px 1px 5px black;
    overflow        : hidden;
}


.header {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    height          : 100px;
    width           : 85%;
    background-color: #454342;
    position        : fixed;
    top             : 0;
    box-shadow      : 0px 0px 3px black;

}

.header-img {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    position       : relative;
}

.header-img img {
    margin: 4px auto;
}

.container {
    display       : flex;
    flex-wrap     : wrap;
    flex-direction: column;
    width         : 100%;
    margin-top    : 120px;
    overflow      : hidden;
}

.list-pokemon {
    display       : flex;
    flex-direction: column;
    text-align    : center;
}

.list-pokemon__h1 {
    text-align    : center;
    color         : #DC0A2D;
    font-size     : 2em;
    font-family   : 'Lato', sans-serif;
    font-weight   : 700;
    padding-bottom: 5px;
    border-bottom : 4px solid #454342;
    margin        : auto;
    margin-bottom : 15px;
}

.list-pokemon__h4 {
    font-size    : 18px;
    margin-bottom: 10px;
}

.list-pokemon__ul {
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
}

.list-pokemon__ul li {
    display      : block;
    font-family  : 'Lato', sans-serif;
    font-weight  : 400;
    font-size    : 1.6em;
    line-height  : 1.4em;
    padding      : 5px;
    margin-left  : 2%;
    margin-right : 2%;
    color        : #02A1E9;
    text-align   : left;
    border-bottom: 1px solid #02A1E9;
}

.button-list {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    width          : 100%;
    justify-content: space-around;
    margin-top     : 15px;
}

.button {
    padding         : 10px 25px;
    border-radius   : 10px;
    border          : 2px solid #454342;
    font-family     : 'Lato', sans-serif;
    font-weight     : 400;
    font-size       : 1.4em;
    background-color: #02A1E9;
    color           : #ffffff;
    margin-bottom   : 50px;
}

.container-pokemon {
    display       : flex;
    flex-wrap     : wrap;
    flex-direction: column;
    width         : 100%;
    margin-bottom : 100px;
}

.mostrar-pokemon {
    background-color: #454342;
    border-radius   : 5px;
    box-shadow      : 0px 0px 5px black;
    margin          : 5%;
}

.mostrar-pokemon__header {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    overflow       : hidden;
    width          : 100%;
    justify-content: space-around;
    align-items    : baseline;
    font-family    : 'Lato', sans-serif;
    font-weight    : 700;
    color          : #ffff00;
    text-transform : uppercase;
    font-size      : 2.5em;
    text-shadow    : 0px 1px 2px black;
    padding        : 10px;
}

.mostrar-pokemon__header p:first-of-type {
    padding-right: 5px;
}

.mostrar-pokemon-img {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    margin-bottom  : 10px;
}

.mostrar-pokemon-img img {

    border-radius   : 50px;
    background-color: #ffffff;
    box-shadow      : 0px 0px 5px #000000;
}

html {
    scroll-behavior: smooth;
}

.mostrar-pokemon-datos {
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    margin-bottom   : 15px;
    font-size       : 2em;
    background-color: #02A1E9;
    box-shadow      : 0px 0px 5px black;
}

.mostrar-pokemon-datos__altura,
.mostrar-pokemon-datos__peso {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 5px;
    color         : #ffff00;
    font-weight   : 700;
}

.mostrar-pokemon-datos p {
    color: #f5f0f0;
}

.buttongotop img {
    display         : flex;
    align-content   : center;
    position        : fixed;
    bottom          : 50px;
    right           : 5px;
    background-color: #ffffff;
    padding         : 15px 15px;
    border-radius   : 50px;
    box-shadow      : 0px 0px 5px #000000;
}

.footer-content {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #454342;
    height          : 50px;
    color           : #ffffff;
    font-size       : 1.5em;
    
}

@media only screen and (min-width: 961px) {
    .list-pokemon__ul {
        flex-direction: row;
        margin        : 0px 15px;
    }

    .list-pokemon__ul li {
        text-align   : left;
        margin       : 2.2%;
        border-bottom: none;
        cursor       : pointer;
        font-size: 2.5em;
    }

    .button{
        padding: 20px 35px;
        font-size: 2em;
    }

    .container-pokemon {
        font-size: 1.9em;

    }
    .mostrar-pokemon-img{
        margin: 20px auto;
    }
    .mostrar-pokemon-datos{
       margin: 60px auto;
    }

    .mostrar-pokemon__header-p-id{
        margin-right: 30px;
    }
    .container-footer{
        margin-top: 0;
    }
    .buttongotop img{
        right: 10px;
    }
    .buttongotop img:hover {
        background-color: #02A1E9;
    }
}



/**Ocultar elementos**/
.oculto {
    display: none;
}